@import "tailwindcss";

:root {
  /* These are the DEFAULT (light mode) variables */
  --background: #535252;
  --foreground: #171717;
}

/*
  I have DELETED the entire:
  @media (prefers-color-scheme: dark) { ... }
  block.

  By removing it, the browser never gets instructions
  to change the colors for dark mode,
  so it's "locked" in light mode.
*/


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}